<div class="" ng-init="init()">


	
	<!-- Section -->
	<div id="section1" class="scroll-pattern-1" data-speed="4" data-offset="0" data-type="background">
		<div style="height: 800px">
			<div style="position: absolute; bottom: 0%; right: 0%;">
				<img src="media/home/brush.png" class=""/>	
			</div>	
					
			<div style="position: absolute; top: 20%; width: 100%;">	
				<centered>
					<div style="width: 50%; padding: 20px; margin: 0px; margin-left: auto; margin-right: auto; background-color: teal">
						<centered> 
							<h1 data-fittext="1" data-fittext-min="15" data-fittext-max="45" class="largeFont fonttype-1 white-font">CRAFTING BEAUTIFUL PARALLAX WEBSITES</h1>
						</centered>
					</div>
				</centered>				
			</div>
		</div>
	</div>	
	
	<div id="philosophy" class="row">

		<div class="small-10 small-offset-1 columns">
				<centered>
				<br><br>
				<h1>Philosophy</h1>	
				{{lorem | words: 25}}			
				<br><br>
				<br><br>
				<div class="small-12 medium-4 columns fonttype-2">
					<centered>
						<img src="http://lorempixel.com/200/200/abstract/1/" class="img-circle"/><br><br>
						<h5>Creativity</h5>
						<br><br>
					</centered>
				</div>
				<div class="small-12 medium-4 columns fonttype-2">
					<centered>
						<img src="http://lorempixel.com/200/200/abstract/2/" class="img-circle"/><br><br>
						<h5>Skill</h5>
						<br><br>
					</centered>
				</div>
				<div class="small-12 medium-4 columns fonttype-2">
					<centered>
						<img src="http://lorempixel.com/200/200/abstract//" class="img-circle"/><br><br>
						<h5>Passion</h5>
						<br><br>
					</centered>
				</div>								
				</centered>
		</div>		
	</div>
		

	<div class="scroll-pattern-2" data-speed=".8" data-offset="0" data-type="background">
		<div style="height: 800px">
			<div style="position: absolute; bottom: 20%; right: 0%; width: 100%">
				<centered>
					<img src="media/home/mobiles.png" class="img-responsive-clearfix" style="width: 90%; max-width: 500px"/>
				</centered>	
			</div>	
					
			<div style="position: absolute; top: 35%; width: 100%;">	
				<centered>
					<div style="width: 70%; padding: 20px; margin: 0px; margin-left: auto; margin-right: auto; background-color: black">
						<centered> 
							<h1 data-fittext="1" data-fittext-min="15" data-fittext-max="45" class="largeFont fonttype-1 white-font">TURN YOUR IDEA INTO A BEAUTIFUL WEB APP</h1>
						</centered>
					</div>
				</centered>				
			</div>
		</div>
	</div>	

			
			
	<div id="design" class="row" style="">
		<div class="small-12 columns">
				<br><br>
				<div class="small-3 columns">
					<centered>
						<br><br>
							<img src="media/home/appIcon.png" class="img-responsive"/><br><br>
						<br><br>
					</centered>
				</div>
				
				<div class="small-9 columns">
					<centered>
					<br>
					<h1>App Design</h1>	
					<div style="text-align: justify">
						{{lorem | words: 225}}
					</div>			
					<br><br>
					<br><br>
				</div>
				<br><br>				
		</div>		
	</div>		
	
	
	<div  class="scroll-pattern-3" data-speed="-6" data-offset="0" data-type="background">
		<div style="height: 900px">
			<div style="position: absolute; bottom: 20%; right: 0%; width: 100%;">
				<centered>
					<img src="media/home/moon.png" class="img-responsive-clearfix" style="max-width: 400px"/>
				</centered>	
			</div>	
					
			<div style="position: absolute; bottom: 10%; width: 100%;">	
				<centered>
					<div style="width: 70%; padding: 20px; margin: 0px; margin-left: auto; margin-right: auto; background-color: #1da1ae">
						<centered> 
							<h1 data-fittext="1" data-fittext-min="15" data-fittext-max="45" class="largeFont fonttype-1 white-font">CONTACT US NOW AT MYSITE.COM</h1>
						</centered>
					</div>
				</centered>				
			</div>
		</div>
	</div>	


	<div id="contact" class="row">
		<div class="small-12 columns">
	

			<div class="row">
				<centered>
				
				<br><br>
				<h1>Contact Us</h1>
				<br><br>	
				</centered>
				
				<div class="medium-6 small-12 columns" style="text-align: justify">
					<div class="container">
						<br><br>
						<small><strong>Who We Are</strong></small>
						<br><br>
						<small class="">{{lorem  | words:125 :true }}</small>
						<br><br>
						<img src="media/home/facebook.png" style="width: 30px; margin-right: 20px"> <small>Find us on Facebook!</small>
						<br><br>
						<img src="media/home/twitter.png" style="width: 30px; margin-right: 20px"> <small>Tweet us on Twitter!</small>
						<br><br><br>
						<small>
							{{copyRight}}						
						</small>		
						<br><br><br>				
					</div>
				</div>
			
				<div class="medium-6 small-12 columns container" style="text-align: justify">
					<div class="container">
						<br><br>
						<small><strong>Quote From Satisified Customer:</strong></small>
						<br><br>
						<small class=""><i>"{{lorem  | words:85 :true }}"</i></small>
						<br><br><br>
						
						<small><strong>Quote From Another Satisified Customer:</strong></small>
						<br><br>
						<small class=""><i>"{{lorem  | words:105 :true }}"</i></small>
						<br><br><br>
	
						<small><strong>Quote From Another Satisified Customer:</strong></small>
						<br><br>
						<small class=""><i>"{{lorem  | words:105 :true }}"</i></small>
						<br><br><br>					
											
						<centered>
							<small>Contact Us &nbsp;&nbsp;|&nbsp;&nbsp; Terms of Service &nbsp;&nbsp;|&nbsp;&nbsp; Privacy Policy</small>					
						</centered>	
						<br><br><br>		
					</div>				
				</div>
			</div>
			
		</div>		
	</div>		
			
</div>	

